* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	background-color: #333333;
	color: #ffffff;
}

a {
	color: #40e0d0;
	text-decoration: none;
}

p {
	margin: 10px 0;
}

ul {
	list-style-type: none;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 10px;
}

.heading {
	color: #40e0d0;
	font-weight: 300;
	margin: 10px 0;
}

.headingContainer {
	text-align: center;
	padding: 30px;
}

#addRecordForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.titleInput,
.datePicker,
.contentArea,
.btn {
	font-family: sans-serif;
	font-size: 16px;
	padding: 5px;
	margin: 10px;
}

.btn {
	background-color: #40e0d0;
	color: #333333;
	border-style: none;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
}

.linkSection {
	text-align: center;
	margin: 20px 0;
}

.notFound {
	text-align: center;
}
